[submodule "iaito_win32"]
	path = iaito_win32
	url = https://github.com/mrexodia/iaito_win32
[submodule "radare2"]
	path = radare2
	url = https://github.com/radare/radare2
	branch = f02064ccf481437f0ad420335f099be70b37a449
