# Binaries
AStyle*

# OSX files
*.DS_Store
.AppleDouble
.LSOverride

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt files
*.qmake.cache
*.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
moc_*.h
ui_*.h
build*/
cmake-build-*/

# QtCreator
*.autosave
*.qmlproject.user
*.qmlproject.user.*
CMakeLists.txt.user

# CLion
.idea

# Vim
*.swp
*~

# Git mergetool
~.orig

# CMake Files:
src/*_automoc.cpp
*CMakeCache.txt*
*cmake_install.cmake*
src/CMakeFiles/*

# Prepare_r2
ninja.exe
r2_dist_x86/
r2_dist_x64/
*.pdb

# Mesonbuild
src/subprojects/

# Python
__pycache__
/python/

# Other
compile_commands.json
.ccls-cache

# vscode
**/.vscode

# Visual Studio CMake
src/out
.vs

# cutter-deps
/cutter-deps

/breakpad

# astyle backup .orig files
*.orig