[submodule "iaito_win32"]
	path = iaito_win32
	url = https://github.com/mrexodia/iaito_win32
[submodule "radare2"]
	path = radare2
	url = https://github.com/radare/radare2
	branch = 902ce266e50ef40fc4018afe8a487e5437aad94d
