# The final executable after `make clean`

cutter
AStyle*

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.qmake.cache
*.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
moc_*.h
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

# CLion
.idea

# Vim
*.swp

#CMake Files:
src/*_automoc.cpp
*CMakeCache.txt*
*cmake_install.cmake*
src/CMakeFiles/*

# Visual Studio
build_x86/
build_x64/

#prepare_r2
ninja.exe
r2_dist_x86/
r2_dist_x64/
*.pdb

#Mesonbuild
src/subprojects/

# Python
__pycache__
