# The final executable after `make clean`

iaito
AStyle*

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.qmake.cache
*.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

# CLion
.idea

# Vim
*.swp

#CMake Files:
src/*_automoc.cpp
*CMakeCache.txt*
*cmake_install.cmake*
src/CMakeFiles/*

# Visual Studio
Win32/
x64/
*.dir/
build*/
*.orig
