 /* QMainWindow */

QHeaderView::section {
     padding: 3px;
     padding-left: 10px;
/*     border: 2px solid white;*/
}

QDockWidget::title {
    text-align: center;
}

QToolTip {
	background-color: #444;
	border: 3px solid #444;
	color: rgb(232, 232, 232);
	font: 11pt "Monaco";
}

/* CutterTreeView */

CutterTreeView::item
{
   padding-top: 1px;
   padding-bottom: 1px;
}
