/*
Cocoa has no notion of Dock Widgets so Qt has to craft them itself,
but the default appearance is awful!
So let's try to make them as native as possible.
*/
QDockWidget::title {
    text-align: center;
	background: palette(window);
}

